@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h2, h3, h3 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
}

img {
  height: 370px;
  width: 45%;
}

ul.skills-list {
  list-style: none;
  padding: 3rem 0;
  display: grid;
  row-gap: 1.6rem;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.section-narrow {
  max-width: 45%;
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 8rem 0;
}

.section-wide {
  max-width: 75%;
  margin: 0 auto;
  padding: 8rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  height: 15vh;
}

.name {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  letter-spacing: -2px;
}

.home {
  height: 85vh;
  display: flex;
  place-content: center;
  align-items: center;
}  

.title {
  font-weight: 400;
  font-size: 4rem;
}

.home-background {
  z-index: -1;
  font-size: 500px;
  font-weight: 900;
  letter-spacing: -72px;
  color: #EDEDED;
  position: fixed;
  left: -12%;
  top: 20%;
}

.projects {
  background-color: rgba(147, 147, 187, 0.35); 
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project {
  display: flex;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-self: center;
}

.contact-container {
  background-color: #F7F7F7;
  padding: 5rem;
}

.contact-details {
  display: flex;
  justify-content: space-between ;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info>li {
  padding: 0.2rem 0;
}

.input-super-group {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.4em;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
}

label {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

textarea {
  width: 640px;
  height: 240px;
}