@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.contact {
  margin: 0 2%;
  @include flex-items-position(column);
  @include panel;
}

.contact-details-title {
  align-self: center;
}

.contact-item {
  margin-bottom: 0.2em;
  & svg {
    width: 1.5em;
    translate: 0 0.48em;
  }
}

.input-group {
  @include flex-items-position(column, center, start);
  @include type-media(14px, 16px, 18px);
}

.contact-details {
  width: 100%;
}

.contact-info {
  padding: 1.2em;
}

form {
  margin: 1em 0;
  & input,
  textarea {
    caret-color: $color-download-button;
    width: 100%;
    background-color: $color-dark-scheme-fonts;
    margin-bottom: 1em;
    height: 2.6em;
    font-size: 1.2em;
    border-radius: 3px;
  }
  & textarea {
    height: 6em;
  }
  & button {
    margin: 0 auto;
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  .contact-details-title {
    align-self: start;
  }

  .input-super-group {
    display: flex;
    flex-direction: row;
    gap: 2em;
    & div {
      width: 100%;
    }
  }
  .contact {
    padding: 2em;
    margin: 0 2%;
  }
}

@media (min-width: 1200px) {
  .contact {
    margin: 0 10%;
  }

  .contact-details {
    display: flex;
    & form {
      width: 100%;
    }
  }
  .contact-info {
    padding: 0;
    margin: 3em;
    width: 40%;
  }
}
