@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

nav {
  @include flex-items-position(row, space-between);
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
  & svg {
    cursor: pointer;
    margin: 1em;
    @include width-media(24px, 26px, 28px);
  }
}
.nav__list {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  display: none;
  border-radius: 100px;
  @include theme-prop(
    background-color,
    $color-light-scheme-bg,
    $color-dark-scheme-bg
  );
  @include type-media(18px, 18px, 20px);
}

.nav__list.active {
  @include flex-items-position(column);
  gap: 0.6em;
}

.nav__item-btn {
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 12px;
  background-color: transparent;
  padding: 0rem 0.4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}

.icon {
  display: none;
}

.icon.active {
  display: block;
}

@media (min-width: 768px) {
  .nav__list {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }
}
