@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

nav {
  @include flex-items-position();
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
}
.nav__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  display: none;
  z-index: 2000;
  @include type-media(16px, 18px, 20px);
}

.nav__item-btn {
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 12px;
  background-color: transparent;
  padding: 0rem 0.4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}

#menu-icon {
  font-size: 3rem;
  display: none;
}

@media (min-width: 768px) {
  .nav__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    z-index: 2000;
  }
}
