@use "../abstracts/mixins" as *;

.skills-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1.8em 1.2em 0;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 1.6em;
}

.skills-item {
  font-size: 1.16em;
}
