@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.welcome {
  height: 100vh;
  text-align: center;
  @include flex-items-position(column, center, center);
}

.home-name {
  font-family: $font-family-heading;
  white-space: nowrap;
  @include type-media(40px, 48px, 64px);
}

.home-left {
  gap: 3.2em;
  @include flex-items-position(column);
}

.subtitle {
  font-family: $font-family-heading;
  letter-spacing: 0.4em;
  @include type-media(15px, 17px, 19px);
}

.paragraph {
  width: 280px;
  @include type-media(24px, 28px, 32px);
}

.home-right {
  & img {
    margin-top: 10vh;
    width: 60%;
  }
}

@media (min-width: 768px) {
  .welcome {
    padding: 0 10%;
    @include flex-items-position(row, start, center);
  }

  .home-left {
    text-align: start;
    gap: 4.2em;
    @include flex-items-position(column, center, start);
  }

  .paragraph {
    width: 320px;
  }

  .home-right {
    & img {
      margin: 0 0 0 34px;
      width: 94%;
    }
  }
}
@media (min-width: 1200px) {
  .welcome {
    padding: 0 15%;
  }

  .paragraph {
    width: 360px;
  }

  .home-right {
    flex: 1;
    @include flex-items-position(row, end);
    & img {
      width: 66%;
    }
  }
}
