@use "typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
  font-family: $font-family-body;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-body;
  background-color: $color-light-scheme-body;
  color: $color-light-scheme-fonts;
  transition: background-color 0.3s ease, color 0.3s ease;

  &[data-theme="dark"] {
    background-color: $color-dark-scheme-body;
    color: $color-dark-scheme-fonts;
  }
}

h1 {
  @include type-media($font-size-h1-s, $font-size-h1-m, $font-size-h1-l);
}

h2 {
  @include type-media($font-size-h2-s, $font-size-h2-m, $font-size-h2-l);
}

a {
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
  text-decoration: none;
  transition: text-shadow 1s ease;

  &:hover {
    text-shadow: $color-accent-prime 0 0 12px;
  }
  &.active {
    color: $color-accent-prime;
  }
}

button {
  cursor: pointer;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;

  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
}

a {
  img {
    width: 50px;
  }
}
