@use "typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-body;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
  @include theme-prop;
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
  @include type-media($font-size-body-s, $font-size-body-m, $font-size-body-l);
}

h1 {
  font-weight: 500;
  @include type-media($font-size-h1-s, $font-size-h1-m, $font-size-h1-l);
}

h2 {
  font-weight: 500;
  margin: 0.8em 0;
  @include type-media($font-size-h2-s, $font-size-h2-m, $font-size-h2-l);
}

h1,
h2 {
  font-family: $font-family-heading;
}

a {
  text-decoration: none;
  transition: text-shadow 1s ease;
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);

  &:hover {
    text-shadow: $color-accent-prime 0 0 12px;
  }
  &.active {
    color: $color-accent-prime;
  }
}
