$font-family-heading: "Montserrat", sans-serif;
$font-family-body: "Quicksand", sans-serif;

$font-dark-scheme: rgb(206, 215, 227);
$font-light-scheme: rgb(36, 41, 47);

$font-size-h1-s: 26px;
$font-size-h1-m: 29px;
$font-size-h1-l: 32px;

$font-size-h2-s: 21px;
$font-size-h2-m: 23px;
$font-size-h2-l: 24px;

$font-size-body-s: 18px;
$font-size-body-m: 20px;
$font-size-body-l: 22px;

$font-size-menu: 20px;

$letter-spacing-body: 0.001em;
$letter-spacing-menu: 0.08em;
