@use "../abstracts/variables" as *;

@mixin type-media(
  $font-small,
  $font-medium,
  $font-large,
  $prop: font-size,
  $vw-small: 320px,
  $vw-medium: 768px,
  $vw-large: 1200px
) {
  #{$prop}: $font-small;

  @media (min-width: $vw-medium) {
    #{$prop}: $font-medium;
  }

  @media (min-width: $vw-large) {
    #{$prop}: $font-large;
  }
}

@mixin theme-prop(
  $property: background-color,
  $light-value: $color-light-scheme-body,
  $dark-value: $color-dark-scheme-body
) {
  #{$property}: $dark-value;

  [data-theme="light"] & {
    #{$property}: $light-value;
  }
}

// For flexbox centering
@mixin flex-items-position($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin panel {
  border: 1px solid $color-accent-prime;
  border-radius: 6px;
  margin: 0.8em;
  padding: 1em;
}
