$color-dark-scheme-fonts: rgb(206, 215, 227);

$color-dark-scheme-body: rgb(71, 86, 105);
$color-dark-scheme-bg: rgb(36, 41, 47);

$color-accent-prime: rgb(255, 164, 0);
$color-download-button: rgb(255, 94, 91);

$color-light-scheme-fonts: rgb(36, 41, 47);

$color-light-scheme-body: rgb(175, 188, 212);
$color-light-scheme-bg: rgb(242, 244, 248);

$box-shadow-bright: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
$box-shadow-dark: rgba(255, 164, 0, 0.3) 0px 0px 16px 0px;
