$color-dark-scheme-fonts: rgb(206, 215, 227);
$color-dark-scheme-body: rgb(71, 86, 105);
$color-accent-prime: rgb(255, 164, 0);
$color-download-button: rgb(255, 94, 91);
$color-light-scheme-fonts: rgb(36, 41, 47);
$color-dark-scheme-bg: rgb(36, 41, 47);
$color-light-scheme-body: rgb(175, 188, 212);
$color-light-scheme-bg: rgb(242, 244, 248);

$font-family-heading: "Montserrat", sans-serif;
$font-family-body: "Quicksand", sans-serif;

$font-size-h1-s: 26px;
$font-size-h1-m: 29px;
$font-size-h1-l: 32px;

$font-size-h2-s: 21px;
$font-size-h2-m: 23px;
$font-size-h2-l: 24px;

$font-size-body-s: 18px;
$font-size-body-m: 20px;
$font-size-body-l: 22px;

$font-size-menu: 20px;

$letter-spacing-body: 0.001em;
$letter-spacing-menu: 0.08em;
