@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

footer {
  font-weight: 400;
  @include flex-items-position();
  padding-bottom: 1.6em;
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    padding-bottom: 2.6em;
    letter-spacing: 0.33em;
  }

  @media (min-width: 1200px) {
    letter-spacing: 0.42em;
    padding-bottom: 4.2em;
    font-size: 16px;
  }
}
