@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

section {
  margin-bottom: 1.6em;
  @include theme-prop();
  @include theme-prop(color, $font-light-scheme, $font-dark-scheme);
}

.panel-content {
  @include theme-prop(
    background-color,
    $color-light-scheme-bg,
    $color-dark-scheme-bg
  );
}

.section-narrow {
  @include flex-items-position(column);
  border-top: 1px solid $color-accent-prime;
  border-bottom: 1px solid $color-accent-prime;

  & h1 {
    margin-bottom: 1rem;
  }
}

.section-narrow-content {
  margin: 1.8em 1em 2.6em;
  text-align: center;
}

.section-wide {
  padding: 0 2%;
  @include flex-items-position(column);
}

@media (min-width: 768px) {
  .section-narrow {
    padding: 0 10%;
  }

  section {
    margin-bottom: 2.6rem;
  }
  .section-wide {
    padding: 0 3%;
  }
}

@media (min-width: 1200px) {
  section {
    margin-bottom: 4.2rem;
  }

  .section-narrow {
    padding: 0 23%;
  }

  .section-wide {
    padding: 0 15%;
  }
}
